@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
.App {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 5% 0 5%;
  background-color: lightgrey;
  height: 10%;
  position: sticky;
  top: 0px;
}
.nav{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
}
.nav a{
  text-decoration: none;
  color: black;
}
.nav a:hover{
  text-decoration: underline;
}
.nav a:visited{
  text-decoration: underline;
}